@charset "UTF-8";

/**

 * @Date          2022-09-01 16:23:34
 * @LastEditTime  2022-09-16 20:57:19
 */

body.page-account {
  .unpaid-status-text {
    color: #ee4d2d;
    background-color: white;
    padding: 4px 16px;
    border-radius: 4px;
    border: 1px solid #ee4d2d;
  }

  .completed-status-text {
    background-color: limegreen;
    color: white;
    padding: 4px 16px;
    border-radius: 4px;
  }

  .paid-status-text {
    background-color: #ee4d2d;
    color: white;
    padding: 4px 16px;
    border-radius: 4px;
  }

  .shipped-status-text {
    color: black;
  }

  .cancelled-status-text {
    color: white;
    background-color: red;
    padding: 4px 16px;
    border-radius: 4px;
  }

  .account-card {
    border: none;

    .card-items {
      > a {
        width: 25%;
        color: #444444;
        text-decoration: none !important;
        i {
          font-size: 2rem;
        }

        span {
          display: flex;
        }
      }
    }

    .card-body {
      @media (min-width: 992px) {
        min-height: 509px;
      }
    }

    .order-wrap {
      background-color: #f6f8f9;

      @media (min-width: 768px) {
        padding: 2rem 1rem;
      }

      .icon {
        i {
          font-size: 4.5rem;
          color: #777;
        }
      }

      .text {
        font-size: 1rem;
      }
    }
  }
}

.account-sides-info {
  @media (max-width: 768px) {
    margin-bottom: 14px;
  }
}
