.product-wrap {
  padding-bottom: .7rem;
  border: 0.5px solid #e5e7eb;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  position: relative;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }

  .discount {
    z-index: 1;
    position: absolute;
    min-width: 48px;
    text-align: center;
    left: 0;
    top: 0;
    padding: 6px 0;
    color: #ef3a16;
    background: #ffc1074a;
  }

  .product-bottom-info {
    padding: 0 5px;
  }

  &.list {
    display: flex;
    padding-bottom: 0;

    .image {
      flex: 0 0 200px;
      margin-bottom: 0;
      transition: all 0.3s ease-in-out;

      .image-old {
        height: auto !important;
      }
    }

    .product-name {
      height: auto;
      margin-bottom: 20px;
    }

    .product-bottom-info {
      padding-top: 10px;
      padding-left: 20px;
      flex: 1;
      text-align: left;

      .product-name {
        font-size: 14px;
      }
    }
  }

  .image {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    .image-old {
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease-out .4s;
    }

    .button-wrap {
      width: 100%;
      position: absolute;
      z-index: 40;
      bottom: -30px;
      opacity: 0;
      display: flex;
      justify-content: center;
      transition: all .2s ease-in-out;

      @media (max-width: 992px) {
        display: none;
      }

      .btn-add-cart {
        flex: 1;
      }

      .btn-quick-view {
        i {
          font-size: 16px;
        }
      }

      .btn-wishlist,
      .btn-quick-view {
        flex: 0 0 46px;
      }

      button {
        background-color: #111;
        font-weight: bold;
        border: none;
        border-right: 1px solid #333;
        border-radius: 0;

        &:last-child {
          border-right: none;
        }

        i {
          line-height: 1;
        }

        &:hover {
          background-color: rgb(70, 70, 70);
        }
      }
    }
  }

  @media (min-width: 768px) {
    &:hover {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

      .button-wrap {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 22px;
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .product-price {
    display: flex;
    justify-content: space-between;
    .price-new {
      color: $primary;
      font-weight: bold;
      font-size: 1rem;

      @media (max-width: 768px) {
        font-size: .8rem;
      }
    }
    .quantity-sold {
      color: #aaa;
      font-size: 0.8rem;

      @media (max-width: 768px) {
        font-size: .7rem;
      }
    }
    .price-old {
      color: #aaa;
      margin-left: 4px;
      text-decoration: line-through;
    }
  }


  @media (max-width: 768px) {
    .btn-wishlist {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 50;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display:block;

      i {
        color: #fff;
        font-size: 20px;
      }

      &:hover {
        background-color: rgba(70, 70, 70, 0.5);
      }
    }
  }
  // Add this section for mobile devices
  .btn-wishlist-mobile{
    display:none;
  }
  .btn-add-cart-mobile{
    display:none;
  }
  @media (max-width: 768px){
    .btn-wishlist-mobile {
      position: absolute;
      top: -4px;
      right: -4px;
      z-index: 50;
      border: none;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;


      i {
        color: red;
        font-size: 15px;
      }

      &:hover {
        background-color: rgba(70, 70, 70, 0.5);
      }

    }
    .btn-add-cart-mobile {
      position: absolute;
      bottom: 5px;
      right: 5px ;
      z-index: 50;
      border: none;



      display: flex;
      justify-content: center;
      align-items: center;

      i {
        color: black;
        font-size: 20px;
      }

      &:hover {
        background-color: rgba(70, 70, 70, 0.5);
      }

    }
  }

}
