@charset "UTF-8";

/**

 * @Date          2022-08-02 19:19:52
 * @LastEditTime  2022-09-16 19:04:56
 */

.form-group {
  .form-control {
    &.short {
      max-width: 300px;
    }
  }

  .input-group {
    &.short {
      max-width: 300px;
    }
  }

  .col-form-label {
    text-align: right;
  }
}
